<div class="container">
  <div class="card shadow-lg m-4">
    <h3 class="card-header">Login</h3>
    <div class="card-body">
      <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">User name</label>
          <input id="username" class="form-control mb-1" type="text" formControlName="username"
                 [ngClass]="{'is-invalid': submitted && loginFormGroup.controls.username.errors}">
          <div *ngIf="loginFormGroup.controls.username.errors" class="p-1 mb-1 bg-danger text-white rounded">
            <div *ngIf="loginFormGroup.controls.username.errors.required">User name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" class="form-control mb-1"
                 [ngClass]="{'is-invalid': submitted && loginFormGroup.controls.password.errors}">
          <div *ngIf="loginFormGroup.controls.password.errors" class="p-1 mb-1 bg-danger text-white rounded">
            <div *ngIf="loginFormGroup.controls.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading || loginFormGroup.invalid" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </form>
    </div>
  </div>
</div>
