<div class="container">

  <form [formGroup]="noteFormGroup" (ngSubmit)="onSubmit()">
    <div *ngIf="noteQueryResult && noteQueryResult.content">

      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="input-group">
            <span class="input-group-text">
              <i class="far fa-sticky-note" aria-hidden="true"> Title</i>
            </span>
            <input id="title" type="text" class="form-control" placeholder="Title" formControlName="title"
                   required="required" [(ngModel)]="addNoteCommand.title" [(ngModel)]="noteUpdateCommand.title">
          </div>
          <div class="p-1 mb-1 bg-danger text-white rounded"
               *ngIf="noteFormGroup.get('title').hasError('required')">
            Please provide title!
          </div>
          <div class="p-1 mb-1 bg-danger text-white rounded"
               *ngIf="noteFormGroup.get('title').hasError('minlength')">
            Title is too short!
          </div>
          <div class="p-1 mb-1 bg-danger text-white rounded"
               *ngIf="noteFormGroup.get('title').hasError('maxlength')">
            Title is too long!
          </div>
        </div>

        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <div class="col font-weight-bold font-italic">
                <span class="fas fa-id-badge"></span>
                UUID: {{noteQueryResult.content[0].uuid}}
              </div>
            </div>

            <div class="col">
              <div class="col font-weight-bold font-italic">
                <span class="fas fa-user"></span>
                Created by: {{noteQueryResult.content[0].createdBy}}
              </div>
            </div>

            <div class="col">
              <div class="col font-weight-bold font-italic">
                <span class="fas fa-user"></span>
                Created on: {{noteQueryResult.content[0].createdTimestamp | date: "yyyy-MM-dd HH:mm:ss zzzz"}}
              </div>
            </div>

            <div class="col">
              <div class="col font-weight-bold font-italic">
                <span class="fas fa-user"></span>
                Modified by: {{noteQueryResult.content[0].modifiedBy}}
              </div>
            </div>

            <div class="col">
              <div class="col font-weight-bold font-italic">
                <span class="fas fa-user"></span>
                Modified on: {{noteQueryResult.content[0].modificationTimestamp | date: "yyyy-MM-dd HH:mm:ss zzzz"}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-group">
              <span class="input-group-text">Note text</span>
              <textarea id="note" class="form-control" style="min-height: 200px;" placeholder="Note text..."
                        formControlName="noteText" required="required" [(ngModel)]="addNoteCommand.noteText"
                        [(ngModel)]="noteUpdateCommand.noteText"></textarea>
            </div>
            <div class="p-1 mb-1 bg-danger text-white rounded"
                 *ngIf="noteFormGroup.get('noteText').hasError('required')">
              Please provide note!
            </div>
            <div class="p-1 mb-1 bg-danger text-white rounded"
                 *ngIf="noteFormGroup.get('noteText').hasError('minlength')">
              Note is too short!
            </div>
          </div>
        </div>
      </div>

    </div>

    <button class="btn btn-primary m-1" type="submit" role="button" >
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>

    <button class="btn btn-danger m-1" type="reset" role="button">Reset</button>

    <a class="btn btn-danger m-1" (click)="deleteNote(noteQueryResult)" role="button">Delete</a>

    <a class="btn btn-warning m-1" href="{{appMapping.note.note}}" role="button">Add new</a>

  </form>

</div>
