<div class="container">
  <div class="card shadow-lg m-4">
    <h3 class="card-header">Create an Account!</h3>
    <div class="card-body">
      <div class="row">
        <!-- REGIESTER IMAGE START ToDo -->
        <div class="col-lg-5 d-none d-lg-block bg-secondary "></div>
        <!-- REGIESTER IMAGE END ToDo -->

        <!--USER FORM START-->
        <div class="p-5">
          <form [formGroup]="userCreateForm" (ngSubmit)="onSubmit(userCreateForm)">
            <div class="form-group">
              <label for="userName">User name</label>
              <input formControlName="username" type="text" class="form-control mb-1" id="username"
                     placeholder="User name" required>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('username').hasError('required')">
                Please provide user name!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('username').hasError('minlength')">
                User name is too short!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('username').hasError('maxlength')">
                User name is too long!
              </div>
            </div>
            <div class="form-group">
              <label for="addressEmail">Email address</label>
              <input formControlName="addressEmail" type="email" class="form-control mb-1" id="addressEmail"
                     placeholder="Email address" required>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('addressEmail').hasError('required')">
                Please provide address email!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('addressEmail').hasError('pattern')">
                Address email has wrong pattern!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('addressEmail').hasError('minlength')">
                Address email is too short!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('addressEmail').hasError('maxlength')">
                Address email is too long!
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input formControlName="password" type="password" class="form-control mb-1" id="password"
                     placeholder="Password" required>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('password').hasError('required')">
                Provide password!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('password').hasError('minlength')">
                Password is too short!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('password').hasError('maxlength')">
                Password is too long!
              </div>
            </div>
            <div class="form-group">
              <label for="passwordRepeat">Repeat password</label>
              <input formControlName="passwordRepeat" type="password" class="form-control mb-1" id="passwordRepeat"
                     placeholder="Repeat password" required>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('passwordRepeat').hasError('required')">
                Repeat password!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('passwordRepeat').hasError('minlength')">
                Password is too short!
              </div>
              <div class="p-1 mb-1 bg-danger text-white rounded"
                   *ngIf="userCreateForm.get('passwordRepeat').value !== userCreateForm.get('password').value">
                Passwords are different!
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="userCreateForm.invalid">Submit</button>
          </form>
        </div>
        <!--USER FORM END-->

      </div>
    </div>
  </div>
</div>
