<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="alert alert-{{alertTypeClass}}" role="alert">
      <h4 class="alert-heading">{{status.title}}</h4>
      <hr>
      <p class="mb-0">{{status.message}}</p>
      <hr>
      <a class="btn btn-{{alertTypeClass}}" role="button" routerLink="{{homePageLink}}">
        Go to home page
      </a>
    </div>
  </div>
</div>
