<footer class="footer bg-transparent border-top p-3">
  <div class="container">
    <div class="row row-cols-auto justify-content-md-center text-muted text-center">
      <div class="col">
        <div class="row">
          Frontend
        </div>
        <div class="row">
          Environment: {{getFrontendEnvironment()}}
        </div>
        <div class="row">
          Version: {{getFrontendVersion()}}
        </div>
      </div>
      <div class="col border-1"></div>
      <div class="col">
        <div class="row">
          Backend
        </div>
        <div class="row">
          Environment: {{getBackendEnvironment()}}
        </div>
        <div class="row">
          Version: {{getBackendVersion()}}
        </div>
      </div>
    </div>
  </div>
</footer>
