<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt=""
         width="72" height="57">
    <h1 class="display-5 fw-bold">{{title}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Main page of the application.
      </p>
      <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut lectus velit. Cras magna
        lorem, egestas eu consectetur quis, accumsan non ex. Aenean ac gravida lacus, eu accumsan felis. Duis sit amet
        feugiat leo. Ut ornare libero tortor. Nunc commodo enim quis leo pharetra tincidunt. Fusce dapibus tellus risus,
        in venenatis diam euismod at. Curabitur sit amet elit mollis, eleifend nisi ut, consectetur dolor.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" *ngIf="!userSession.isUserLoggedIn()">
        <button class="btn btn-primary" routerLink="{{registerLink}}">
          <span class="mx-auto fas fa-user-plus"></span>
          Register
        </button>
        <button class="btn btn-primary" routerLink="{{loginLink}}" *ngIf="!userSession.isUserLoggedIn()">
          <span class="mx-auto fas fa-sign-in-alt"></span>
          Login
        </button>
      </div>
    </div>
  </div>
</div>
