<ngb-toast *ngFor="let toast of toasts"
           [autohide]="toast.autohide"
           [delay]="toast.delay"
           (hidden)="remove(toast)">
  <ng-template ngbToastHeader>
    <div class="rounded" [class]="toast.clazz">
      <em class="fas fa-bell m-1"></em>
    </div>
    <strong class="me-auto ms-1">{{toast.header}}</strong>
    <small id="notificationTime">{{time(toast)}}</small>
  </ng-template>
  {{toast.body}}
</ngb-toast>
