<div class="container">
  <h5 class="display-5 fw-bold mb-2">My notes</h5>

  <div *ngIf="noteQueryResult">
    <div class="row">
      <table class="table table-hover">
        <caption>
          My notes
        </caption>
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Created by</th>
          <th scope="col">Created datetime</th>
          <th scope="col">Modified by</th>
          <th scope="col">Modification datetime</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <thead class="align-middle">
        <tr [formGroup]="formGroup">
          <td>
            <input class="input-group-text text-start" type="text" formControlName="title" placeholder="Title"
                   (input)="onFilterChange()"/>
          </td>
          <td>
            <input class="input-group-text text-start mw-1" type="text" formControlName="createdBy"
                   placeholder="Created by" (input)="onFilterChange()"/>
          </td>
          <td>
            <div class="input-group mb-1">
              <span class="input-group-text">After:</span>
              <input class="input-group-text text-start" type="datetime-local" formControlName="createdTimestampAfter"
                     (input)="onFilterChange()">
            </div>
            <div class="input-group">
              <span class="input-group-text">Before:</span>
              <input class="input-group-text text-start" type="datetime-local" formControlName="createdTimestampBefore"
                     (input)="onFilterChange()">
            </div>
          </td>
          <td>
            <input class="input-group-text text-start mw-1" type="text" formControlName="modifiedBy"
                   placeholder="Modified by" (input)="onFilterChange()"/>
          </td>
          <td>
            <div class="input-group mb-1">
              <span class="input-group-text">After:</span>
              <input class="input-group-text text-start" type="datetime-local" formControlName="modifiedTimestampAfter"
                     (input)="onFilterChange()">
            </div>
            <div class="input-group">
              <span class="input-group-text">Before:</span>
              <input class="input-group-text text-start" type="datetime-local" formControlName="modifiedTimestampBefore"
                     (input)="onFilterChange()">
            </div>
          </td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let note of noteQueryResult.content">
          <td class="mw text-truncate" title="{{ note.title }}" data-bs-toggle="tooltip" data-bs-placement="right">
            {{ note.title }}
          </td>
          <td>{{ note.createdBy }}</td>
          <td>{{ note.createdTimestamp | date: "yyyy-MM-dd hh:mm:ss" }}</td>
          <td>{{ note.modifiedBy }}</td>
          <td>{{ note.modificationTimestamp | date: "yyyy-MM-dd hh:mm:ss" }}</td>
          <td>
            <a class="btn btn-primary" href="{{ appMappings.note.note + '/' + note.uuid }}">
              <em class="fas fa-eye"></em>
              View
            </a>
            <a class="btn btn-danger" (click)="delete(noteQuery, note.uuid)">
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <p class="text-start me-2">
            Page size
          </p>
          <nav>
            <ul class="pagination pagination-sm justify-content-center">
              <li class="page-item" [ngClass]="{'active' : pageSize === noteQueryResult.size }"
                  *ngFor="let pageSize of [1, 5, 10, 20]">
                <a class="page-link" role="button" (click)="changePageSize(noteQuery, noteQueryResult, pageSize)">
                  {{ pageSize }}
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-md-4 offset-md-4">
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled' : noteQueryResult.first === true }">
              <a *ngIf="noteQueryResult.first === true" class="page-link" role="button">
                Previous
              </a>
              <a *ngIf="noteQueryResult.first === false" class="page-link" role="button"
                 (click)="previousPage(noteQuery, noteQueryResult)">
                Previous
              </a>
            </li>

            <li class="page-item" [ngClass]="{'active' : pageNumber === noteQueryResult.number }"
                *ngFor="let pageNumber of numSequence(noteQueryResult.totalPages)">
              <a class="page-link" role="button"
                 (click)="changePage(noteQuery, noteQueryResult, pageNumber)">{{ pageNumber + 1 }}</a>
            </li>

            <li class="page-item" [ngClass]="{'disabled' : noteQueryResult.last === true }">
              <a *ngIf="noteQueryResult.last === true" class="page-link" role="button">
                Next
              </a>
              <a *ngIf="noteQueryResult.last === false" class="page-link" role="button"
                 (click)="nextPage(noteQuery, noteQueryResult)">
                Next
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <p>
          Page {{ getCurrentPage() }} of {{ noteQueryResult.totalPages }}
        </p>
      </div>
    </div>

  </div>
</div>
